set hlsearch
set ignorecase
set incsearch
set number
set relativenumber
set showmode
set smartcase
set visualbell
set wrapscan
set clipboard
set gdefault
set surround
map ,xc :noh<CR>
map <S-J> 5j
map <S-K> 5k
map <S-H> ^
map <S-L> $
map vw vaw
map cw caw
